{% extends 'base.html.twig' %}

{% block title %}GESTION  |  ACCES CIMETIERES {% endblock %}

{% block body %}

<div class="container">
  <div class="row">

     <div class="col-md-8">
          <p class="lead">RECHERCHER USAGER(S)</p>
          <!--<form action="" method="get" >
          
          tests -->
    {{ form_start(form) }} 

    <div class="row">
              <div class="col">
                <div class="form-group"> 
                {{ form_row(form.usager_nom_famille) }}                
                </div>
              </div>
     </div>
     <div class="row">
              <div class="col">
                <div class="form-group"> 
                  <button type="submit" class="btn btn-primary btn-block btn-lg" href="#">RECHERCHER</button>                
                </div>
              </div>
     </div>
     
    {{ form_end(form) }}

          <!--idée du formulaire final-->

    <div class="row">
              <div class="col-md-6">
                <div class="form-group"> 
                  <input type="text" class="form-control" placeholder="Nom de famille"> 
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"> 
                  <input type="text" class="form-control" placeholder="Prénom 1"> 
                </div>
              </div>
    </div>
    <div class="row">
              <div class="col-md-6">
                <div class="form-group"> 
                  <input type="text" class="form-control" placeholder="Nom d'usage"> 
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group"> 
                  <input type="text" class="form-control" placeholder="Prénom 2"> 
                </div>
              </div>
    </div>

    <div class="row">
              <div class="col">
                <div class="form-group">  
                  <input type="text" class="form-control" placeholder="Adresse 1"name="Adresse 1">
                </div>
                <div class="form-group">  
                  <input type="text" class="form-control" placeholder="Adresse 2"name="Adresse 2">
                  </div>
              </div>
     </div>
     <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Ville" name="Ville">
                </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Code Postal" name="Code Postal">
                </div>
                <!--<div class="form-group">
                <input type="text" class="form-control" placeholder="N° immatriculation 1">
                </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="N° immatriculation 2">
                </div>-->
              </div>
              <div class="col-md-6">
                <!--<div class="form-group">
                <input type="text" class="form-control" placeholder="N° immatriculation 3">
                </div>-->
                <div class="form-group">
                <label>Date de naissance</label>
                        <input type="date" class="form-control" placeholder="Date de naissance">
                </div>
         
            </div>
            </div>
              <!--recherche par cimetiere 
            <div class="row">
              <div class="col-md-3">
                <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">La Madeleine</label>
                </div>
              </div>
              <div class="col-md-3">
              <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Longpré</label>
                    </div>
              </div>
              <div class="col-md-3">
              <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Montières</label>
                    </div>
              </div>
              <div class="col-md-3">
              <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Petit St Jean</label>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">St Pierre</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Renancourt</label>
                </div>
              </div>
              <div class="col-md-3">
                 <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Nouveau St Acheul</label>
                 </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Ancien St Acheul</label>                    
                 </div>
              </div>
      </div>    

            <div class="row my-3">
              <div class="col-md-6">
                 <div class="form-group">
                 <label>Fin de validité</label>    
                  <input type="date"  class="form-control"  placeholder="Fin de validité">
                  </div>  
              </div>
            </div>
            -->

            <div class="row">
              <div class="col">
                 <div class="form-group">
               <!--  <button type="submit" class="btn btn-primary btn-block btn-lg" href="#">RECHERCHER</button>-->
                 </div>
               </div>
            </div>

          <!--</form>-->



<!-- liste de la recherche -->
          <p class="lead">RESULTAT DE LA RECHERCHE</p>
                  <div class="card " >
                    <div class="card-body">
                      <div class="row  text-center">

                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">USAGER</th>
                              <th scope="col">CP</th>
                              <th scope="col">DATE DE NAISSANCE</th>
                              <th scope="col"></th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Nom / Prénom</td>
                              <td>CP</td>
                              <td>XX/XX/2000</td>
                              <td><div class="row px-2 py-1"><a href="#" class="btn btn-primary btn-block">MODIFIER</a></div></td>

                            </tr>
                           
                          </tbody>
                        </table>


                    </div>    
                  </div>
                </div>
<!-- fin liste-->



        </div>

        {# menu usagers côte #}
        <div class="col-md-4">
          <div class="row">
            <div class="col">
             <a class="btn btn-primary w-100 my-1 text-left btn-lg" href="/cimetiere/usager-recherche">
               <i class="fa fa-search"></i>&nbsp; RECHERCHER USAGER
             </a>
           </div>        
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary w-100 my-1 text-left btn-lg" href="/cimetiere/nouvel_usager">
                <i class="fa fa-plus-circle"></i>&nbsp; CREER UNE CARTE
              </a>
            </div>
          </div>
         <!-- <div class="row">
            <div class="col">
              <a class="btn btn-primary w-100 my-1 text-left btn-lg" href="#">
                <i class="fa fa-refresh"></i>&nbsp; MODIFIER UNE FICHE
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary w-100 my-1 text-left btn-lg" href="#">
                <i class="fa fa-calendar"></i>&nbsp; RENOUVELLER UNE CARTE
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary w-100 my-1 text-left btn-lg" href="#">
                <i class="fa fa-times"></i>&nbsp; RESILLIER UNE CARTE
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary w-100 my-1 text-left btn-lg" href="#">
                <i class="fa fa-university"></i>&nbsp; AFFECTER UN CIMETIERE
              </a>
            </div>
          </div>
          <div class="row  text-center">
           <div class="col">
            <a class="btn btn-primary   w-100 my-1 text-left btn-lg" href="#">
            <i class="fa fa-download"></i>&nbsp; EXPORTER LES DONNEES</a>
           </div>
         </div>-->

        </div>

  </div>
</div>

{% endblock %}
